.App {
  display: grid;
  grid-template-columns: 150px calc(100% - 150px);

  position: fixed;
  height: 100%;
  width: 100%;
  color: #FFF
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

.header {
  position: fixed;
  width: calc(100% - 150px);
  background-color: #222;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}

.menu {
  background-color: #111;
  padding-top: 10px;
  text-align: center;
}

.tools {
  background-color: #222;
  text-align: center;
  
  overflow-y: auto;
}

.centered {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 15px;
  margin-top: 65px;
}

.grid-item {
  border: 1px solid #444;
  height: 180px;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #444;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
